Repository gustavomorinaga/reactsetup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Adicionando funcionalidades no README
  README.md
Due: none

Configurando Husky para pre-commit
  .husky/pre-commit
Due: none

feat: configurando cimmitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write

fix: configurando workspace do vscode
  .eslintignore
  .vscode/settings.json
Due: prettier --write

fix: readme
  README.md
Due: none

feat: atualizando dependencias
  package.json
  src/components/User/index.module.scss
  yarn.lock
Due: prettier --write

feat: pagina de busca
  src/components/Search/index.module.scss
  src/components/Search/index.tsx
  src/components/User/index.module.scss
  src/components/User/index.tsx
  src/hooks/useFetch.ts
  src/interfaces/IUser.ts
  src/pages/[login].tsx
  src/pages/index.tsx
  src/styles/global.scss
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: page transition and profile details
  next.config.js
  src/components/User/index.module.scss
  src/components/User/index.tsx
  src/interfaces/IUser.ts
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/services/api.ts
  src/styles/global.scss
Due: eslint --fix

fix: layout search e readme
  README.md
  src/components/Search/index.module.scss
Due: none

fix: trim login
  src/components/User/index.module.scss
  src/pages/index.tsx
Due: eslint --fix

fix: eslint prettier
  .eslintrc.json
  .vscode/settings.json
  package.json
  prettier.config.js
  src/components/Search/index.tsx
  src/components/User/index.tsx
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: pwa e seo
  next.config.js
  package.json
  public/assets/icons/icon-128x128.png
  public/assets/icons/icon-16x16.png
  public/assets/icons/icon-32x32.png
  public/assets/icons/icon-512x512.png
  public/assets/images/PLACE_IMAGES_HERE.txt
  public/robots.txt
  public/site.webmanifest
  public/sw.js
  public/workbox-4a677df8.js
  src/components/Search/index.tsx
  src/components/User/index.tsx
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: seo e png
  public/assets/icons/icon-192x192.png
  public/site.webmanifest
  src/pages/[login].tsx
  src/pages/_document.tsx
Due: eslint --fix

fix: important css e robots
  .gitignore
  public/robots.txt
  src/components/Search/index.module.scss
  tailwind.config.js
Due: none

fix: robots e pwa
  .gitignore
  public/robots.txt
  public/site.webmanifest
  public/sw.js
  public/workbox-4a677df8.js
Due: none

fix: default configs seo
  next-seo.config.js
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix

fix: light and dark themes
  src/components/Loader/index.module.scss
  src/components/Search/index.module.scss
  src/components/User/index.module.scss
Due: none

fix: dark theme
  package.json
  postcss.config.js
  src/components/Search/index.module.scss
  src/components/User/index.module.scss
  src/pages/index.tsx
  src/styles/global.scss
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: updates and fixes
  babel.config.js
  docs/demo/.gitkeep
  docs/demo/PLACE_DEMO_GIFS_HERE.txt
  next.config.js
  package.json
  public/assets/images/.gitkeep
  public/assets/sounds/.gitkeep
  public/assets/videos/.gitkeep
  tsconfig.json
  yarn.lock
Due: prettier --write

refactor: is production variable
  next.config.js
Due: none

fix: pwa setup
  .gitignore
  next.config.js
Due: none

fix: pwa env disabled
  next.config.js
Due: none

feat: updates and context api
  package.json
  src/components/Search/index.tsx
  src/contexts/User/index.tsx
  src/contexts/index.tsx
  src/hooks/useFetch.ts
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/utils/.gitkeep
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: fetch and transition
  package.json
  src/animations/index.tsx
  src/animations/slide/index.tsx
  src/animations/zoom/index.tsx
  src/components/Search/index.tsx
  src/components/User/index.tsx
  src/contexts/User/index.tsx
  src/contexts/index.tsx
  src/pages/[login].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/global.scss
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: adding pwa and seo
  README.md
Due: none

feat: updates
  package.json
  src/components/User/index.module.scss
  yarn.lock
Due: prettier --write

feat: updates
  package.json
  yarn.lock
Due: prettier --write

feat: updating dependencies
  next-env.d.ts
  package.json
  yarn.lock
Due: prettier --write

feat: wdyr
  babel.config.js
  package.json
  src/pages/_app.tsx
  src/scripts/wdyr.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: updates
  package.json
  yarn.lock
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: any of: *.json
